debug_final_test/final_properties_test/ICN8_BRS_Feedback_workflow_analysis.json
{
  "workflow_metadata": {
    "filename": "ICN8_BRS_Feedback.xml",
    "xml_path": "nifi_pipeline_file/ICN8_BRS_Feedback.xml",
    "total_processors": 58,
    "analysis_timestamp": "2025-09-03T13:35:07.096210"
  },
  "classification_results": [
    {
      "processor_type": "org.apache.nifi.processors.standard.ControlRate",
      "properties": {
        "Rate Control Criteria": "flowfile count",
        "Time Duration": "300 sec",
        "Maximum Rate": "1",
        "Maximum Data Rate": null,
        "Maximum FlowFile Rate": null,
        "Rate Controlled Attribute": null,
        "Grouping Attribute": null
      },
      "id": "",
      "name": "5 minute delay",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: rate limiting and flow control",
      "transforms_data_content": false,
      "business_purpose": "System operation: 5 minute delay",
      "data_impact_level": "none",
      "key_operations": [
        "rate_limiting"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.LogMessage",
      "properties": {
        "log-level": "warn",
        "log-prefix": "icn8: ",
        "log-message": "Cause: Kerberos ticket was expired when gathering stats for period ${start_ts} - ${end_ts}."
      },
      "id": "",
      "name": "Log Kerberos Ticket Expired",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: logging and monitoring",
      "transforms_data_content": false,
      "business_purpose": "System operation: Log Kerberos Ticket Expired",
      "data_impact_level": "none",
      "key_operations": [
        "logging"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.ExecuteStreamCommand",
      "properties": {
        "Working Directory": null,
        "Command Path": "/bin/impala-shell",
        "argumentsStrategy": "Command Arguments Property",
        "Command Arguments": "-B;-k;-i;nardc02prod-impala.na-rdc02.nxp.com;-q;\"${refresh_statement}\"",
        "Argument Delimiter": ";",
        "Ignore STDIN": "false",
        "Output Destination Attribute": null,
        "Max Attribute Length": "256"
      },
      "id": "",
      "name": "Run refresh statement",
      "data_manipulation_type": "data_transformation",
      "actual_data_processing": "SQL operation: Run refresh statement",
      "transforms_data_content": true,
      "business_purpose": "Database operation: Run refresh statement",
      "data_impact_level": "high",
      "key_operations": [
        "sql_execution"
      ],
      "analysis_method": "smart_detection_sql_operation"
    },
    {
      "processor_type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "properties": {
        "Delete Attributes Expression": null,
        "Store State": "Do not store state",
        "Stateful Variables Initial Value": null,
        "canonical-value-lookup-cache-size": "100",
        "impala_mem_limit": "${impala_mem_limit:plus(${impala_mem_limit_increment})}"
      },
      "id": "",
      "name": "Increase mem_limit",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Increase mem_limit",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.ControlRate",
      "properties": {
        "Rate Control Criteria": "flowfile count",
        "Time Duration": "60 sec",
        "Maximum Rate": "1",
        "Maximum Data Rate": null,
        "Maximum FlowFile Rate": null,
        "Rate Controlled Attribute": null,
        "Grouping Attribute": null
      },
      "id": "",
      "name": "60 second delay",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: rate limiting and flow control",
      "transforms_data_content": false,
      "business_purpose": "System operation: 60 second delay",
      "data_impact_level": "none",
      "key_operations": [
        "rate_limiting"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.LogMessage",
      "properties": {
        "log-level": "warn",
        "log-prefix": "icn8: ",
        "log-message": "Executing ${refresh_statement} for stats period ${start_ts} - ${end_ts}.\n"
      },
      "id": "",
      "name": "Log refresh statement",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: logging and monitoring",
      "transforms_data_content": false,
      "business_purpose": "System operation: Log refresh statement",
      "data_impact_level": "none",
      "key_operations": [
        "logging"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.LogMessage",
      "properties": {
        "log-level": "warn",
        "log-prefix": "icn8: ",
        "log-message": "Cause: Stats query for period ${start_ts} - ${end_ts} was timed out before it could execute."
      },
      "id": "",
      "name": "Log Query Admission Timeout",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: logging and monitoring",
      "transforms_data_content": false,
      "business_purpose": "System operation: Log Query Admission Timeout",
      "data_impact_level": "none",
      "key_operations": [
        "logging"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.LogMessage",
      "properties": {
        "log-level": "warn",
        "log-prefix": "icn8: ",
        "log-message": "Cause: Unidentified error while gathering stats for period ${start_ts} - ${end_ts}. Please investigate!"
      },
      "id": "",
      "name": "Log Unidentified Error",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: logging and monitoring",
      "transforms_data_content": false,
      "business_purpose": "System operation: Log Unidentified Error",
      "data_impact_level": "none",
      "key_operations": [
        "logging"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.LogMessage",
      "properties": {
        "log-level": "error",
        "log-prefix": "icn8: ",
        "log-message": "Unable to execute statistics query for stats period ${start_ts} - ${end_ts}."
      },
      "id": "",
      "name": "Log error on Ingest Staging",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: logging and monitoring",
      "transforms_data_content": false,
      "business_purpose": "System operation: Log error on Ingest Staging",
      "data_impact_level": "none",
      "key_operations": [
        "logging"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.LogMessage",
      "properties": {
        "log-level": "warn",
        "log-prefix": "icn8: ",
        "log-message": "Failed attempt ${attempts} executing statistics query for period ${start_ts} - ${end_ts}.\nError details:\n${execution.error}"
      },
      "id": "",
      "name": "Log error on stats query",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: logging and monitoring",
      "transforms_data_content": false,
      "business_purpose": "System operation: Log error on stats query",
      "data_impact_level": "none",
      "key_operations": [
        "logging"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.LogMessage",
      "properties": {
        "log-level": "warn",
        "log-prefix": "icn8: ",
        "log-message": "Cause: Impala memory limit exceeded while gathering stats for period ${start_ts} - ${end_ts}."
      },
      "id": "",
      "name": "Log Memory Limit Exceeded",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: logging and monitoring",
      "transforms_data_content": false,
      "business_purpose": "System operation: Log Memory Limit Exceeded",
      "data_impact_level": "none",
      "key_operations": [
        "logging"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.RouteOnAttribute",
      "properties": {
        "Routing Strategy": "Route to Property name",
        "toomanytries": "${stats_retry_counter:gt(10)}"
      },
      "id": "",
      "name": "Continue until max tries",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: routing decisions based on attributes",
      "transforms_data_content": false,
      "business_purpose": "System operation: Continue until max tries",
      "data_impact_level": "none",
      "key_operations": [
        "routing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "properties": {
        "Delete Attributes Expression": null,
        "Store State": "Do not store state",
        "Stateful Variables Initial Value": null,
        "canonical-value-lookup-cache-size": "100",
        "stats_retry_counter": "${stats_retry_counter:isNull():ifElse(1, ${stats_retry_counter:plus(1)})}"
      },
      "id": "",
      "name": "Increase retry counter",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Increase retry counter",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.LogMessage",
      "properties": {
        "log-level": "warn",
        "log-prefix": "icn8: ",
        "log-message": "Cause: HDFS read fail while gathering stats for period ${start_ts} - ${end_ts}."
      },
      "id": "",
      "name": "Log HDFS read fail",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: logging and monitoring",
      "transforms_data_content": false,
      "business_purpose": "System operation: Log HDFS read fail",
      "data_impact_level": "none",
      "key_operations": [
        "logging"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.LogMessage",
      "properties": {
        "log-level": "warn",
        "log-prefix": "icn8: ",
        "log-message": "Cause: Stats query for period ${start_ts} - ${end_ts} was killed because memory was oversubscribed (too many queries running at once)."
      },
      "id": "",
      "name": "Log Memory Oversubscribed",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: logging and monitoring",
      "transforms_data_content": false,
      "business_purpose": "System operation: Log Memory Oversubscribed",
      "data_impact_level": "none",
      "key_operations": [
        "logging"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.RouteOnAttribute",
      "properties": {
        "Routing Strategy": "Route to Property name",
        "hdfs_read_fail": "${execution.error:toLower():contains('failed to open hdfs file')}",
        "kerberos_ticket_expired": "${execution.error:toLower():contains('-k requires a valid kerberos ticket but no valid kerberos ticket found')}",
        "memory_limit_exceeded": "${execution.error:toLower():contains('memory limit exceeded')}",
        "memory_oversubscribed": "${execution.error:toLower():contains('memory is likely oversubscribed.')}",
        "query_admission_timeout": "${execution.error:toLower():contains('admission for query exceeded timeout')}",
        "unreachable_impala_deamon": "${execution.error:toLower():contains('cancelled due to unreachable impalad(s)')}"
      },
      "id": "",
      "name": "Route on error type",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: routing decisions based on attributes",
      "transforms_data_content": false,
      "business_purpose": "System operation: Route on error type",
      "data_impact_level": "none",
      "key_operations": [
        "routing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.LogMessage",
      "properties": {
        "log-level": "warn",
        "log-prefix": "icn8: ",
        "log-message": "Cause: Stats query for period ${start_ts} - ${end_ts} was cancelled because an Impala Deamon was unreachable."
      },
      "id": "",
      "name": "Log Unreachable Impala Deamon",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: logging and monitoring",
      "transforms_data_content": false,
      "business_purpose": "System operation: Log Unreachable Impala Deamon",
      "data_impact_level": "none",
      "key_operations": [
        "logging"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.ControlRate",
      "properties": {
        "Rate Control Criteria": "flowfile count",
        "Time Duration": "10 sec",
        "Maximum Rate": "1",
        "Maximum Data Rate": null,
        "Maximum FlowFile Rate": null,
        "Rate Controlled Attribute": null,
        "Grouping Attribute": null
      },
      "id": "",
      "name": "10 second delay",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: rate limiting and flow control",
      "transforms_data_content": false,
      "business_purpose": "System operation: 10 second delay",
      "data_impact_level": "none",
      "key_operations": [
        "rate_limiting"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.RouteOnAttribute",
      "properties": {
        "Routing Strategy": "Route to Property name",
        "yes": "${use_hive_yn:startsWith('Y')}"
      },
      "id": "",
      "name": "Use Hive for query?",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: routing decisions based on attributes",
      "transforms_data_content": false,
      "business_purpose": "System operation: Use Hive for query?",
      "data_impact_level": "none",
      "key_operations": [
        "routing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "properties": {
        "Delete Attributes Expression": null,
        "Store State": "Do not store state",
        "Stateful Variables Initial Value": null,
        "canonical-value-lookup-cache-size": "100",
        "priority": "${literal(99999999999999)\n  :minus(${end_ts\n           :replaceAll(\"-\", \"\")\n           :replaceAll(\" \", \"\")\n           :replaceAll(\":\", \"\")\n          }\n        )\n }"
      },
      "id": "",
      "name": "Set flowfile priority",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Set flowfile priority",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "properties": {
        "Delete Attributes Expression": null,
        "Store State": "Do not store state",
        "Stateful Variables Initial Value": null,
        "canonical-value-lookup-cache-size": "100",
        "end_ts": "${filename:replaceAll('^.*[0-9]{14}_([0-9]{14})_[0-9]{14}.*$','$1'):toDate ('yyyyMMddHHmmss'):format(\"yyyy-MM-dd HH:mm:ss\")}",
        "start_ts": "${filename:replaceAll('^.*([0-9]{14})_[0-9]{14}_[0-9]{14}.*$','$1'):toDate ('yyyyMMddHHmmss'):format(\"yyyy-MM-dd HH:mm:ss\")}"
      },
      "id": "",
      "name": "Determine time frame of cross check request",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Determine time frame of cross check request",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "properties": {
        "File Size": "0B",
        "Batch Size": "1",
        "Data Format": "Text",
        "Unique FlowFiles": "false",
        "generate-ff-custom-text": null,
        "character-set": "UTF-8",
        "mime-type": null,
        "end_ts": "${now():toNumber():format('yyyy-MM-dd HH:mm:ss', 'CET')}",
        "include_e3_bq_yn": "N",
        "include_temptation_bq_yn": "N",
        "start_ts": "${now():toNumber():minus(864000000):format('yyyy-MM-dd HH:mm:ss', 'CET')}"
      },
      "id": "",
      "name": "Determine time frame (10 x 24 hours)",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Determine time frame (10 x 24 hours)",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.ExecuteStreamCommand",
      "properties": {
        "Working Directory": "/users/hadoop_nifi_svc/scripts/icn8/",
        "Command Path": "/users/hadoop_nifi_svc/scripts/icn8/clear_not_in_stats_folder.sh",
        "argumentsStrategy": "Command Arguments Property",
        "Command Arguments": null,
        "Argument Delimiter": ";",
        "Ignore STDIN": "true",
        "Output Destination Attribute": null,
        "Max Attribute Length": "256"
      },
      "id": "",
      "name": "Clear not_in_stats folder",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "File management: system operations",
      "transforms_data_content": false,
      "business_purpose": "File system operation: Clear not_in_stats folder",
      "data_impact_level": "none",
      "key_operations": [
        "file_management"
      ],
      "analysis_method": "smart_detection_file_mgmt"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "properties": {
        "File Size": "0B",
        "Batch Size": "1",
        "Data Format": "Text",
        "Unique FlowFiles": "false",
        "generate-ff-custom-text": null,
        "character-set": "UTF-8",
        "mime-type": null
      },
      "id": "",
      "name": "Start Impala check query - PMI DQ",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Start Impala check query - PMI DQ",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.ExecuteStreamCommand",
      "properties": {
        "Working Directory": null,
        "Command Path": "/users/hadoop_nifi_svc/scripts/icn8/Impala_Check.sh",
        "argumentsStrategy": "Command Arguments Property",
        "Command Arguments": "PMI_View",
        "Argument Delimiter": ";",
        "Ignore STDIN": "false",
        "Output Destination Attribute": null,
        "Max Attribute Length": "256"
      },
      "id": "",
      "name": "Run Impala check query - PMI-View",
      "data_manipulation_type": "data_transformation",
      "actual_data_processing": "SQL operation: Run Impala check query - PMI-View",
      "transforms_data_content": true,
      "business_purpose": "Database operation: Run Impala check query - PMI-View",
      "data_impact_level": "high",
      "key_operations": [
        "sql_execution"
      ],
      "analysis_method": "smart_detection_sql_operation"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.ListFile",
      "properties": {
        "Input Directory": "/etl/dropzone/icn8/incoming",
        "listing-strategy": "entities",
        "Recurse Subdirectories": "false",
        "record-writer": null,
        "Input Directory Location": "Remote",
        "File Filter": "^HDP_.*[0-9]{14}_[0-9]{14}_([0-9]{14})\\.*(ccr)$",
        "Path Filter": null,
        "Include File Attributes": "false",
        "Minimum File Age": "0 sec",
        "Maximum File Age": null,
        "Minimum File Size": "0 B",
        "Maximum File Size": null,
        "Ignore Hidden Files": "true",
        "target-system-timestamp-precision": "auto-detect",
        "et-state-cache": "9cd607eb-3e75-32ee-0000-000000000000",
        "et-time-window": "3 hours",
        "et-initial-listing-target": "all",
        "et-node-identifier": "same",
        "track-performance": "false",
        "max-performance-metrics": "100000",
        "max-operation-time": "10 secs",
        "max-listing-time": "3 mins"
      },
      "id": "",
      "name": "Get cross check request files",
      "data_manipulation_type": "data_movement",
      "actual_data_processing": "Data movement: data transfer operations",
      "transforms_data_content": false,
      "business_purpose": "Data transfer: Get cross check request files",
      "data_impact_level": "low",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_movement"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.LogMessage",
      "properties": {
        "log-level": "info",
        "log-prefix": "icn8: ",
        "log-message": "Cross check request file received for period ${start_ts} - ${end_ts}."
      },
      "id": "",
      "name": "Log cross check request",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: logging and monitoring",
      "transforms_data_content": false,
      "business_purpose": "System operation: Log cross check request",
      "data_impact_level": "none",
      "key_operations": [
        "logging"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "properties": {
        "File Size": "0B",
        "Batch Size": "1",
        "Data Format": "Text",
        "Unique FlowFiles": "false",
        "generate-ff-custom-text": null,
        "character-set": "UTF-8",
        "mime-type": null,
        "end_ts": "2023-03-10 00:00:00",
        "include_e3_bq_yn": "Y",
        "include_temptation_bq_yn": "Y",
        "start_ts": "2023-03-09 00:00:00"
      },
      "id": "",
      "name": "Determine time frame (custom period)",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Determine time frame (custom period)",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.ExecuteStreamCommand",
      "properties": {
        "Working Directory": null,
        "Command Path": "/users/hadoop_nifi_svc/scripts/icn8/run_impala_query.sh",
        "argumentsStrategy": "Command Arguments Property",
        "Command Arguments": "-i;nardc02prod-impala.na-rdc02.nxp.com;-B;--query=\"\nset request_pool=root.default;\nset mem_limit=${impala_mem_limit}G;\n${query}\n\";--print_header;--output_delimiter=,",
        "Argument Delimiter": ";",
        "Ignore STDIN": "false",
        "Output Destination Attribute": null,
        "Max Attribute Length": "256"
      },
      "id": "",
      "name": "Execute Impala Query",
      "data_manipulation_type": "data_transformation",
      "actual_data_processing": "SQL operation: Execute Impala Query",
      "transforms_data_content": true,
      "business_purpose": "Database operation: Execute Impala Query",
      "data_impact_level": "high",
      "key_operations": [
        "sql_execution"
      ],
      "analysis_method": "smart_detection_sql_operation"
    },
    {
      "processor_type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "properties": {
        "Delete Attributes Expression": null,
        "Store State": "Do not store state",
        "Stateful Variables Initial Value": null,
        "canonical-value-lookup-cache-size": "100"
      },
      "id": "",
      "name": "Dummy",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Dummy",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "properties": {
        "File Size": "0B",
        "Batch Size": "1",
        "Data Format": "Text",
        "Unique FlowFiles": "false",
        "generate-ff-custom-text": null,
        "character-set": "UTF-8",
        "mime-type": null,
        "end_ts": "${now():toNumber():format('yyyy-MM-dd HH:mm:ss', 'CET')}",
        "start_ts": "${now():toNumber():minus(864000000):format('yyyy-MM-dd HH:mm:ss', 'CET')}"
      },
      "id": "",
      "name": "SWS FB - Manual feedback",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: SWS FB - Manual feedback",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.ExecuteStreamCommand",
      "properties": {
        "Working Directory": null,
        "Command Path": "/bin/beeline",
        "argumentsStrategy": "Command Arguments Property",
        "Command Arguments": "--outputformat=csv2;-e;\"${query}\"",
        "Argument Delimiter": ";",
        "Ignore STDIN": "false",
        "Output Destination Attribute": null,
        "Max Attribute Length": "256"
      },
      "id": "",
      "name": "Execute Hive Query",
      "data_manipulation_type": "data_transformation",
      "actual_data_processing": "SQL operation: Execute Hive Query",
      "transforms_data_content": true,
      "business_purpose": "Database operation: Execute Hive Query",
      "data_impact_level": "high",
      "key_operations": [
        "sql_execution"
      ],
      "analysis_method": "smart_detection_sql_operation"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.PutSFTP",
      "properties": {
        "Hostname": "nardc02hdpnp011.na-rdc02.nxp.com",
        "Port": "22",
        "Username": "hadoop_nifi_svc",
        "Password": null,
        "Private Key Path": "/users/hadoop_nifi_svc/.ssh/id_rsa",
        "Private Key Passphrase": null,
        "Remote Path": "/etl/dropzone/icn8/outgoing",
        "Create Directory": "false",
        "Disable Directory Listing": "false",
        "Batch Size": "500",
        "Connection Timeout": "30 sec",
        "Data Timeout": "30 sec",
        "Conflict Resolution": "NONE",
        "Reject Zero-Byte Files": "true",
        "Dot Rename": "false",
        "Temporary Filename": "{$filename}tmp",
        "Host Key File": null,
        "Last Modified Time": null,
        "Permissions": null,
        "Remote Owner": null,
        "Remote Group": null,
        "Strict Host Key Checking": "false",
        "Send Keep Alive On Timeout": "true",
        "Use Compression": "false",
        "proxy-configuration-service": null,
        "Proxy Type": "DIRECT",
        "Proxy Host": null,
        "Proxy Port": null,
        "Http Proxy Username": null,
        "Http Proxy Password": null,
        "Ciphers Allowed": null,
        "Key Algorithms Allowed": null,
        "Key Exchange Algorithms Allowed": null,
        "Message Authentication Codes Allowed": null
      },
      "id": "",
      "name": "PutSFTP",
      "data_manipulation_type": "data_movement",
      "actual_data_processing": "Data movement: data transfer operations",
      "transforms_data_content": false,
      "business_purpose": "Data transfer: PutSFTP",
      "data_impact_level": "low",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_movement"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "properties": {
        "File Size": "0B",
        "Batch Size": "1",
        "Data Format": "Text",
        "Unique FlowFiles": "false",
        "generate-ff-custom-text": null,
        "character-set": "UTF-8",
        "mime-type": null,
        "end_ts": "${now():toNumber():format('yyyy-MM-dd HH:mm:ss', 'CET')}",
        "start_ts": "2017-12-30 06:30:00"
      },
      "id": "",
      "name": "Determine time frame (2017-12-30 06:30)",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Determine time frame (2017-12-30 06:30)",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "properties": {
        "Delete Attributes Expression": null,
        "Store State": "Do not store state",
        "Stateful Variables Initial Value": null,
        "canonical-value-lookup-cache-size": "100"
      },
      "id": "",
      "name": "Dummy",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Dummy",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.ExecuteStreamCommand",
      "properties": {
        "Working Directory": null,
        "Command Path": "/users/hadoop_nifi_svc/scripts/icn8/Impala_Check.sh",
        "argumentsStrategy": "Command Arguments Property",
        "Command Arguments": "PMI_View_interactive_queue",
        "Argument Delimiter": ";",
        "Ignore STDIN": "false",
        "Output Destination Attribute": null,
        "Max Attribute Length": "256"
      },
      "id": "",
      "name": "Run Impala check query - PMI DQ",
      "data_manipulation_type": "data_transformation",
      "actual_data_processing": "SQL operation: Run Impala check query - PMI DQ",
      "transforms_data_content": true,
      "business_purpose": "Database operation: Run Impala check query - PMI DQ",
      "data_impact_level": "high",
      "key_operations": [
        "sql_execution"
      ],
      "analysis_method": "smart_detection_sql_operation"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.LogMessage",
      "properties": {
        "log-level": "info",
        "log-prefix": "icn8: ",
        "log-message": "Succesfully sent statistics for period ${start_ts} - ${end_ts}."
      },
      "id": "",
      "name": "Log successful send",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: logging and monitoring",
      "transforms_data_content": false,
      "business_purpose": "System operation: Log successful send",
      "data_impact_level": "none",
      "key_operations": [
        "logging"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "properties": {
        "File Size": "0B",
        "Batch Size": "1",
        "Data Format": "Text",
        "Unique FlowFiles": "false",
        "generate-ff-custom-text": null,
        "character-set": "UTF-8",
        "mime-type": null,
        "end_ts": "2021-01-19 00:00:00",
        "start_ts": "2021-01-01 00:00:00"
      },
      "id": "",
      "name": "PMI-View logging to table",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: PMI-View logging to table",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "properties": {
        "Delete Attributes Expression": null,
        "Store State": "Do not store state",
        "Stateful Variables Initial Value": null,
        "canonical-value-lookup-cache-size": "100"
      },
      "id": "",
      "name": "Dummy",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Dummy",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "properties": {
        "Delete Attributes Expression": null,
        "Store State": "Do not store state",
        "Stateful Variables Initial Value": null,
        "canonical-value-lookup-cache-size": "100"
      },
      "id": "",
      "name": "Dummy",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Dummy",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "properties": {
        "File Size": "0B",
        "Batch Size": "1",
        "Data Format": "Text",
        "Unique FlowFiles": "false",
        "generate-ff-custom-text": null,
        "character-set": "UTF-8",
        "mime-type": null
      },
      "id": "",
      "name": "Start Impala check query - PMI-View",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Start Impala check query - PMI-View",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.ExecuteStreamCommand",
      "properties": {
        "Working Directory": null,
        "Command Path": "/bin/rm",
        "argumentsStrategy": "Command Arguments Property",
        "Command Arguments": "-f;/etl/dropzone/icn8/incoming/${filename}",
        "Argument Delimiter": ";",
        "Ignore STDIN": "true",
        "Output Destination Attribute": null,
        "Max Attribute Length": "256"
      },
      "id": "",
      "name": "Remove cross check request file",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "File management: system operations",
      "transforms_data_content": false,
      "business_purpose": "File system operation: Remove cross check request file",
      "data_impact_level": "none",
      "key_operations": [
        "file_management"
      ],
      "analysis_method": "smart_detection_file_mgmt"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "properties": {
        "File Size": "0B",
        "Batch Size": "1",
        "Data Format": "Text",
        "Unique FlowFiles": "false",
        "generate-ff-custom-text": null,
        "character-set": "UTF-8",
        "mime-type": null,
        "end_ts": "${now():toNumber():format('yyyy-MM-dd HH:mm:ss', 'CET')}",
        "start_ts": "${now():toNumber():minus(8640000000):format('yyyy-MM-dd HH:mm:ss', 'CET')}"
      },
      "id": "",
      "name": "Determine time frame (100 x 24 hours)",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Determine time frame (100 x 24 hours)",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.ExecuteStreamCommand",
      "properties": {
        "Working Directory": null,
        "Command Path": "/users/hadoop_nifi_svc/scripts/icn8/Impala_Check.sh",
        "argumentsStrategy": "Command Arguments Property",
        "Command Arguments": "NiFi_Loading",
        "Argument Delimiter": ";",
        "Ignore STDIN": "false",
        "Output Destination Attribute": null,
        "Max Attribute Length": "256"
      },
      "id": "",
      "name": "Run Impala check query - NiFi Loading",
      "data_manipulation_type": "data_transformation",
      "actual_data_processing": "SQL operation: Run Impala check query - NiFi Loading",
      "transforms_data_content": true,
      "business_purpose": "Database operation: Run Impala check query - NiFi Loading",
      "data_impact_level": "high",
      "key_operations": [
        "sql_execution"
      ],
      "analysis_method": "smart_detection_sql_operation"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "properties": {
        "File Size": "0B",
        "Batch Size": "1",
        "Data Format": "Text",
        "Unique FlowFiles": "false",
        "generate-ff-custom-text": null,
        "character-set": "UTF-8",
        "mime-type": null,
        "end_ts": "${now():toNumber():format('yyyy-MM-dd HH:mm:ss', 'CET')}",
        "start_ts": "${now():toNumber():minus(864000000):format('yyyy-MM-dd HH:mm:ss', 'CET')}"
      },
      "id": "",
      "name": "SWS FB - Determine time frame",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: SWS FB - Determine time frame",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "properties": {
        "Delete Attributes Expression": null,
        "Store State": "Do not store state",
        "Stateful Variables Initial Value": null,
        "canonical-value-lookup-cache-size": "100"
      },
      "id": "",
      "name": "Dummy",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Dummy",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "properties": {
        "File Size": "0B",
        "Batch Size": "1",
        "Data Format": "Text",
        "Unique FlowFiles": "false",
        "generate-ff-custom-text": null,
        "character-set": "UTF-8",
        "mime-type": null
      },
      "id": "",
      "name": "Start Impala check query - PMI IQ",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Start Impala check query - PMI IQ",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "properties": {
        "Delete Attributes Expression": null,
        "Store State": "Do not store state",
        "Stateful Variables Initial Value": null,
        "canonical-value-lookup-cache-size": "100"
      },
      "id": "",
      "name": "Dummy",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Dummy",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "properties": {
        "File Size": "0B",
        "Batch Size": "1",
        "Data Format": "Text",
        "Unique FlowFiles": "false",
        "generate-ff-custom-text": null,
        "character-set": "UTF-8",
        "mime-type": null,
        "end_ts": "${now():toNumber():format('yyyy-MM-dd HH:mm:ss', 'CET')}",
        "start_ts": "${now():toNumber():minus(259200000):format('yyyy-MM-dd HH:mm:ss', 'CET')}"
      },
      "id": "",
      "name": "Determine time frame (3 x 24 hours)",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Determine time frame (3 x 24 hours)",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.ExecuteStreamCommand",
      "properties": {
        "Working Directory": null,
        "Command Path": "/users/hadoop_nifi_svc/scripts/icn8/Impala_Check.sh",
        "argumentsStrategy": "Command Arguments Property",
        "Command Arguments": "PMI_View_default_queue",
        "Argument Delimiter": ";",
        "Ignore STDIN": "false",
        "Output Destination Attribute": null,
        "Max Attribute Length": "256"
      },
      "id": "",
      "name": "Run Impala check query - PMI DQ",
      "data_manipulation_type": "data_transformation",
      "actual_data_processing": "SQL operation: Run Impala check query - PMI DQ",
      "transforms_data_content": true,
      "business_purpose": "Database operation: Run Impala check query - PMI DQ",
      "data_impact_level": "high",
      "key_operations": [
        "sql_execution"
      ],
      "analysis_method": "smart_detection_sql_operation"
    },
    {
      "processor_type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "properties": {
        "Delete Attributes Expression": null,
        "Store State": "Do not store state",
        "Stateful Variables Initial Value": null,
        "canonical-value-lookup-cache-size": "100"
      },
      "id": "",
      "name": "Dummy",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Dummy",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "properties": {
        "Delete Attributes Expression": null,
        "Store State": "Do not store state",
        "Stateful Variables Initial Value": null,
        "canonical-value-lookup-cache-size": "100"
      },
      "id": "",
      "name": "Dummy",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Dummy",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "properties": {
        "File Size": "0B",
        "Batch Size": "1",
        "Data Format": "Text",
        "Unique FlowFiles": "false",
        "generate-ff-custom-text": null,
        "character-set": "UTF-8",
        "mime-type": null
      },
      "id": "",
      "name": "Start Impala check query - NiFi Loading",
      "data_manipulation_type": "infrastructure_only",
      "actual_data_processing": "Infrastructure work: system operations",
      "transforms_data_content": false,
      "business_purpose": "System operation: Start Impala check query - NiFi Loading",
      "data_impact_level": "none",
      "key_operations": [
        "processing"
      ],
      "analysis_method": "rule_based_infrastructure"
    },
    {
      "processor_type": "",
      "properties": {
        "Working Directory": null,
        "Command Path": "/bin/kinit",
        "argumentsStrategy": "Command Arguments Property",
        "Command Arguments": "-kt;/etc/security/keytab/hadoop_nifi_svc.keytab;hadoop_nifi_svc",
        "Argument Delimiter": ";",
        "Ignore STDIN": "false",
        "Output Destination Attribute": null,
        "Max Attribute Length": "256"
      },
      "id": "",
      "name": "Refresh Kerberos ticket (kinit)",
      "data_manipulation_type": "unknown",
      "actual_data_processing": "LLM not available for analysis",
      "transforms_data_content": false,
      "business_purpose": "LLM analysis unavailable",
      "data_impact_level": "unknown",
      "key_operations": [
        "llm_unavailable"
      ],
      "analysis_method": "fallback_no_llm"
    },
    {
      "processor_type": "",
      "properties": {
        "Delete Attributes Expression": null,
        "Store State": "Do not store state",
        "Stateful Variables Initial Value": null,
        "canonical-value-lookup-cache-size": "100",
        "add_partition_statement": "${execution.error\n  :substringAfter  (\"/user/hive/warehouse/mfg_icn8/\")\n  :substringBefore (\".parq\"                         )\n  :replaceAll      (\"\\R\"                        , \"\"                )\n  :replaceFirst    (\"/\"                         , \".\"               )\n  :replaceFirst    (\"/[^/]*$\"                   , \"\"                )\n  :replaceFirst    (\"/\"                         , \" add partition (\")\n  :replaceAll      (\"/\"                         , \"', \"             )\n  :replaceAll      (\"=\"                         , \"='\"              )\n  :replaceAll      (\"__HIVE_DEFAULT_PARTITION__\", \"\"                )\n  :replaceAll      (\"%3A\"                       , \":\"               )\n  :prepend         (\"alter table \")\n  :append          (\"');\")\n }",
        "drop_partition_statement": "${execution.error\n  :substringAfter  (\"/user/hive/warehouse/mfg_icn8/\")\n  :substringBefore (\".parq\"                         )\n  :replaceAll      (\"\\R\"                        , \"\"                           )\n  :replaceFirst    (\"/\"                         , \".\"                          )\n  :replaceFirst    (\"/[^/]*$\"                   , \"\"                           )\n  :replaceFirst    (\"/\"                         , \" drop if exists partition (\")\n  :replaceAll      (\"/\"                         , \"', \"                        )\n  :replaceAll      (\"=\"                         , \"='\"                         )\n  :replaceAll      (\"__HIVE_DEFAULT_PARTITION__\", \"\"                           )\n  :replaceAll      (\"%3A\"                       , \":\"                          )\n  :prepend         (\"alter table \")\n  :append          (\"');\")\n }",
        "refresh_statement": "${execution.error\n  :substringAfter  (\"/user/hive/warehouse/mfg_icn8/\")\n  :substringBefore (\".parq\"                         )\n  :replaceAll      (\"\\R\"                        , \"\"            )\n  :replaceFirst    (\"/\"                         , \".\"           )\n  :replaceFirst    (\"/[^/]*$\"                   , \"\"            )\n  :replaceFirst    (\"/\"                         , \" partition (\")\n  :replaceAll      (\"/\"                         , \"', \"         )\n  :replaceAll      (\"=\"                         , \"='\"          )\n  :replaceAll      (\"__HIVE_DEFAULT_PARTITION__\", \"\"            )\n  :replaceAll      (\"%3A\"                       , \":\"           )\n  :prepend         (\"refresh \")\n  :append          (\"');\")\n }"
      },
      "id": "",
      "name": "Derive refresh statement",
      "data_manipulation_type": "unknown",
      "actual_data_processing": "LLM not available for analysis",
      "transforms_data_content": false,
      "business_purpose": "LLM analysis unavailable",
      "data_impact_level": "unknown",
      "key_operations": [
        "llm_unavailable"
      ],
      "analysis_method": "fallback_no_llm"
    },
    {
      "processor_type": "",
      "properties": {
        "Delete Attributes Expression": null,
        "Store State": "Do not store state",
        "Stateful Variables Initial Value": null,
        "canonical-value-lookup-cache-size": "100",
        "filename": "HDP_SINGLE_WAFER_SCRAP_${start_ts:replaceAll('[- :]','')}_${end_ts:replaceAll('[- :]','')}_${end_ts:replaceAll('[- :]','')}.sws",
        "impala_mem_limit": "2",
        "impala_mem_limit_increment": "5",
        "query": "-- ICN8/NiFi/BRSFeedback/SWS\nselect\n  lot\n, num_wafers\n, wafers\n, component\n, regexp_replace (object, '[^\\x00-\\xFF]', '')                      object\n, object_type\n, num_wafers_step\n, num_bad\n, num_good\n, outlier\n, min_bad\n, max_bad\n, min_good\n, max_good\n, distance\n, avg_good\n, std_good\n, state\n, proc_state\n, scrap_type\n, prod_period\n, scrap_cet_ts\n, terminate_cet_ts\n, admin_scrap_cet_ts\n, product\n, process\n, esort_scrap_code\n, maverick\n, scrap_suspect_technical_stage\n, scrap_suspect_flow_stage\n, regexp_replace (scrap_suspect_process_step, '[^\\x00-\\xFF]', '')  scrap_suspect_process_step\n, cause_contained\n, incident\n, scrap_code\n, proc_key\n, rec_owner\n, cause_code\n, section_cause_code\n, ccd_description\n, replace (detailed_description, ',', '')                          detailed_description\n, loh_trackout_cet_ts\n, loh_technical_stage\n, loh_flow_stage\n, loh_step\n, loh_equipment\n, scrap_key\n, total\n, scrap_correlate_type\n, good_wafers\nfrom\n  mfg_icn8_apps.nifi_single_wafer_scrap_hits\nwhere\n   scrap_cet_ts >= '${start_ts}'  /* 2020-03-17 FvH: To save on diskspace / BRS processing time, only sent 2020 (and later) data */\n                                  /* 2022-03-16 FvH: To save on diskspace / BRS processing time, only sent 2022 (and later) data */\n                                  /* 2023-02-06 FvH: To save on diskspace / BRS processing time, only sent 2023 (and later) data */\n                                  /* 2023-09-18 FvH: Permanent beep reduction: always only extract the last n days               */\n;\n"
      },
      "id": "",
      "name": "SWS FB - Determine query and filename",
      "data_manipulation_type": "unknown",
      "actual_data_processing": "LLM not available for analysis",
      "transforms_data_content": false,
      "business_purpose": "LLM analysis unavailable",
      "data_impact_level": "unknown",
      "key_operations": [
        "llm_unavailable"
      ],
      "analysis_method": "fallback_no_llm"
    },
    {
      "processor_type": "",
      "properties": {
        "Working Directory": null,
        "Command Path": "/users/hadoop_nifi_svc/scripts/icn8/PMI-View_logging_to_table.sh",
        "argumentsStrategy": "Command Arguments Property",
        "Command Arguments": "NiFi_Loading",
        "Argument Delimiter": ";",
        "Ignore STDIN": "false",
        "Output Destination Attribute": null,
        "Max Attribute Length": "256"
      },
      "id": "",
      "name": "PMI-View logging to table - shell script",
      "data_manipulation_type": "unknown",
      "actual_data_processing": "LLM not available for analysis",
      "transforms_data_content": false,
      "business_purpose": "LLM analysis unavailable",
      "data_impact_level": "unknown",
      "key_operations": [
        "llm_unavailable"
      ],
      "analysis_method": "fallback_no_llm"
    },
    {
      "processor_type": "",
      "properties": {
        "Delete Attributes Expression": null,
        "Store State": "Do not store state",
        "Stateful Variables Initial Value": null,
        "canonical-value-lookup-cache-size": "100",
        "filename": "HDP_LOAD_STATS_${start_ts:replaceAll('[- :]','')}_${end_ts:replaceAll('[- :]','')}_${end_ts:replaceAll('[- :]','')}.hls",
        "impala_mem_limit": "5",
        "impala_mem_limit_increment": "5",
        "query": "/* ICN8/NiFi/BRSFeedback/CrossCheck */\n  select\n    'nifi_diamond_raw'                        table_name\n  , substr (ndr.run_trackout_cet_ts, 1, 19)   trackout_cet_ts\n  , nvl (ndr.run_loh_key, 0)                  loh_key\n  , count (*)                                 num_records\n  from\n    mfg_icn8_data.nifi_diamond_raw  ndr\n  where\n        ndr.p_from_trackout_cet_ts  < '${end_ts}'\n    and ndr.p_to_trackout_cet_ts    > '${start_ts}'\n    and ndr.run_trackout_cet_ts    >= '${start_ts}'\n    and ndr.run_trackout_cet_ts     < '${end_ts}'\n    and ndr.run_trackout_cet_ts     > '2020-04-01'\n  group by\n    ndr.run_loh_key\n  , ndr.run_trackout_cet_ts\nunion all\n  select\n    'nifi_production_steps'  table_name\n  , nps.trackout_cet_ts\n  , nps.loh_key\n  , count (*)                num_records\n  from\n    mfg_icn8_data.nifi_production_steps  nps\n  where\n        nps.p_from_trackout_cet_ts  < '${end_ts}'\n    and nps.p_to_trackout_cet_ts    > '${start_ts}'\n    and nps.trackout_cet_ts        >= '${start_ts}'\n    and nps.trackout_cet_ts         < '${end_ts}'\n  group by\n    nps.loh_key\n  , nps.trackout_cet_ts\nunion all\n  select\n    'nifi_metrology_raw'          table_name\n  , nmr.meas_loh_trackout_cet_ts  trackout_cet_ts\n  , nmr.meas_loh_key              loh_key\n  , count (*)                     num_records\n  from\n    mfg_icn8_data.nifi_metrology_raw  nmr\n  where\n        nmr.p_from_trackout_cet_ts    < '${end_ts}'\n    and nmr.p_to_trackout_cet_ts      > '${start_ts}'\n    and nmr.meas_loh_trackout_cet_ts >= '${start_ts}'\n    and nmr.meas_loh_trackout_cet_ts  < '${end_ts}'\n  group by\n    nmr.meas_loh_key\n  , nmr.meas_loh_trackout_cet_ts\nunion all\n  select\n    'nifi_pcm_raw'           table_name\n  , npr.loh_trackout_cet_ts  trackout_cet_ts\n  , npr.loh_key              loh_key\n  , count (*)                num_records\n  from\n    mfg_icn8_data.nifi_pcm_raw  npr\n  where\n        npr.p_from_trackout_cet_ts  < '${end_ts}'\n    and npr.p_to_trackout_cet_ts    > '${start_ts}'\n    and npr.loh_trackout_cet_ts    >= '${start_ts}'\n    and npr.loh_trackout_cet_ts     < '${end_ts}'\n  group by\n    npr.loh_trackout_cet_ts\n  , npr.loh_key\nunion all\n  select\n    'nifi_temptation_sum'    table_name\n  , nts.loh_trackout_cet_ts  trackout_cet_ts\n  , nts.loh_key              loh_key\n  , count (*)                num_records\n  from\n    mfg_icn8_data.nifi_temptation_sum  nts\n  where\n        nts.p_from_trackout_cet_ts  < '${end_ts}'\n    and nts.p_to_trackout_cet_ts    > '${start_ts}'\n    and nts.loh_trackout_cet_ts    >= '${start_ts}'\n    and nts.loh_trackout_cet_ts     < '${end_ts}'\n    and nts.loh_trackout_cet_ts    >= '2020-07-21'\n  group by\n    nts.loh_trackout_cet_ts\n  , nts.loh_key\nunion all\n  select\n    'nifi_e3_sum'            table_name\n  , nes.loh_trackout_cet_ts  trackout_cet_ts\n  , nes.loh_key              loh_key\n  , count (*)                num_records\n  from\n    mfg_icn8_data.nifi_e3_sum  nes\n  where\n        nes.p_from_trackout_cet_ts  < '${end_ts}'\n    and nes.p_to_trackout_cet_ts    > '${start_ts}'\n    and nes.loh_trackout_cet_ts    >= '${start_ts}'\n    and nes.loh_trackout_cet_ts     < '${end_ts}'\n  group by\n    nes.loh_trackout_cet_ts\n  , nes.loh_key\nunion all\n  select\n    'nifi_e3_uva'            table_name\n  , neu.loh_trackout_cet_ts  trackout_cet_ts\n  , neu.loh_key              loh_key\n  , count (*)                num_records\n  from\n    mfg_icn8_data.nifi_e3_uva  neu\n  where\n        neu.p_from_trackout_cet_ts  < '${end_ts}'\n    and neu.p_to_trackout_cet_ts    > '${start_ts}'\n    and neu.loh_trackout_cet_ts    >= '${start_ts}'\n    and neu.loh_trackout_cet_ts     < '${end_ts}'\n  group by\n    neu.loh_trackout_cet_ts\n  , neu.loh_key\nunion all\n  select\n    'nifi_experiments'       table_name\n  , ne.exp_cet_ts            trackout_cet_ts\n  , ne.experiment_key        loh_key\n  , count (*)                num_records\n  from\n    mfg_icn8_data.nifi_experiments  ne\n  where\n        ne.exp_cet_ts >= '${start_ts}'\n    and ne.exp_cet_ts  < '${end_ts}'\n  group by\n    ne.exp_cet_ts\n  , ne.experiment_key\nunion all\n  select\n    'nifi_tool_overlay_raw'  table_name\n  , nor.trackout_cet_ts\n  , nor.loh_key\n  , count (*)                num_records\n  from\n    mfg_icn8_data.nifi_tool_overlay_raw  nor\n  where\n        nor.p_from_trackout_cet_ts  < '${end_ts}'\n    and nor.p_to_trackout_cet_ts    > '${start_ts}'\n    and nor.trackout_cet_ts        >= '${start_ts}'\n    and nor.trackout_cet_ts         < '${end_ts}'\n  group by\n    nor.loh_key\n  , nor.trackout_cet_ts\nunion all\n  select\n    'nifi_diamond_components'  table_name\n  , '1900-01-01 00:00:00'      trackout_cet_ts\n  , -1                         loh_key\n  , count (*)                  num_records\n  from\n    mfg_icn8_data.nifi_diamond_components  ndc\nunion all\n  select\n    'nifi_process_runcards'  table_name\n  , '1900-01-01 00:00:00'    trackout_cet_ts\n  , -1                       loh_key\n  , count (*)                num_records\n  from\n    mfg_icn8_data.nifi_process_runcards  npr\nunion all\n  select\n    'nifi_lotstatus'         table_name\n  , nls.lot_creation_cet_ts  trackout_cet_ts\n  , -1                       loh_key\n  , count (*)                num_records\n  from\n    mfg_icn8_data.nifi_lot_status  nls\n  where\n        nls.lot_creation_cet_ts >= '${start_ts}'\n    and nls.lot_creation_cet_ts  < '${end_ts}'\n  group by\n    nls.lot_creation_cet_ts\nunion all\n  select\n    'nifi_scrap'      table_name\n  , nsc.scrap_cet_ts  trackout_cet_ts\n  , nsc.scrap_key     loh_key\n  , count (*)         num_records\n  from\n    mfg_icn8_data.nifi_scrap  nsc\n  where\n        nsc.scrap_cet_ts >= '${start_ts}'\n    and nsc.scrap_cet_ts  < '${end_ts}'\n    and nsc.scrap_key     > 0\n  group by\n    nsc.scrap_cet_ts\n  , nsc.scrap_key\nunion all\n  select \n    'nifi_xsite_states_raw'                 table_name\n  , substr (ndr.from_cet_ts, 1, 19)         trackout_cet_ts\n  , 1                                       loh_key\n  , count (*)                               num_records\n  from\n    mfg_icn8_data.nifi_xsite_states_raw  ndr\n  where\n        ndr.p_from_start_cet_ts  < '${end_ts}'\n    and ndr.p_to_start_cet_ts    > '${start_ts}'\n    and ndr.from_cet_ts          >= '${start_ts}'\n    and ndr.from_cet_ts          < '${end_ts}'\n  group by\n    substr (ndr.from_cet_ts, 1, 19) \nunion all\n  select\n    'nifi_base_wafer_production_steps'  table_name\n  , nbw.trackout_cet_ts                 trackout_cet_ts\n  , nbw.loh_key                         loh_key\n  , count (*)                           num_records\n  from\n    mfg_icn8_apps.nifi_base_wafer_production_steps  nbw\n  where\n        nbw.p_from_trackout_cet_ts  < '${end_ts}'\n    and nbw.p_to_trackout_cet_ts    > '${start_ts}'\n    and nbw.trackout_cet_ts        >= '${start_ts}'\n    and nbw.trackout_cet_ts         < '${end_ts}'\n  group by\n    nbw.trackout_cet_ts\n  , nbw.loh_key\nunion all\n  select\n    'nifi_base_qualifications (TEMPTATION)'        table_name\n  , nbq.loh_trackout_cet_ts                        trackout_cet_ts\n  , nbq.loh_key                                    loh_key\n  , count ( distinct\n            nvl (nbq.lot                    , '')\n          , nvl (nbq.meas_cet_ts            , '')\n          , nvl (nbq.program                , '')\n          , nvl (nbq.parameter              , '')\n          , nvl (nbq.component              , '')\n          , nvl (nbq.ttn_sub_recipe         , '')\n          , nvl (nbq.ttn_recipe_process_step, '')\n          , nvl (nbq.event                  , '')\n          )                                        num_records\n  from\n    mfg_icn8_apps.nifi_base_qualifications  nbq\n  where\n        '${include_temptation_bq_yn}' in ('', 'Y')\n    and nbq.p_parameter_type        = 'TEMPTATION'\n    and nbq.p_aggregation_type     in ('lot', 'waf', 'site')\n    and nbq.p_from_trackout_cet_ts  < '${end_ts}'\n    and nbq.p_to_trackout_cet_ts    > '${start_ts}'\n    and nbq.loh_trackout_cet_ts    >= '${start_ts}'\n    and nbq.loh_trackout_cet_ts     < '${end_ts}'\n    and nbq.loh_trackout_cet_ts    >= '2020-07-21'\n  group by\n    nbq.loh_trackout_cet_ts\n  , nbq.loh_key\n  , nbq.p_parameter_type\nunion all\n  select  /* Add a record to indicate that Temptation BQ data was sent (in case BQ happens to contain 0 Temptation records) */\n    'nifi_base_qualifications (TEMPTATION)'  table_name\n  , ''                                       trackout_cet_ts\n  , -1                                       loh_key\n  , -1                                       num_records\n  from\n    mfg_icn8_data.dual\n  where\n    '${include_temptation_bq_yn}' in ('', 'Y')\nunion all\n  select\n    'nifi_base_qualifications (E3)'                table_name\n  , nbq.loh_trackout_cet_ts                        trackout_cet_ts\n  , nbq.loh_key                                    loh_key\n  , count ( distinct\n            nvl (nbq.lot                    , '')\n          , nvl (nbq.meas_cet_ts            , '')\n          , nvl (nbq.program                , '')\n          , nvl (nbq.parameter              , '')\n          , nvl (nbq.component              , '')\n          , nvl (nbq.ttn_sub_recipe         , '')\n          , nvl (nbq.ttn_recipe_process_step, '')\n          , nvl (nbq.event                  , '')\n          ,      nbq.measured_value\n          )                                        num_records\n  from\n    mfg_icn8_apps.nifi_base_qualifications  nbq\n  where\n        '${include_e3_bq_yn}'      in ('', 'Y')\n    and nbq.p_parameter_type        = 'E3'\n    and nbq.p_aggregation_type     in ('lot', 'waf', 'site')\n    and nbq.p_from_trackout_cet_ts  < '${end_ts}'\n    and nbq.p_to_trackout_cet_ts    > '${start_ts}'\n    and nbq.loh_trackout_cet_ts    >= '${start_ts}'\n    and nbq.loh_trackout_cet_ts     < '${end_ts}'\n  group by\n    nbq.loh_trackout_cet_ts\n  , nbq.loh_key\n  , nbq.p_parameter_type\nunion all\n  select  /* Add a record to indicate that E3 BQ data was sent (in case BQ happens to contain 0 E3 records) */\n    'nifi_base_qualifications (E3)'  table_name\n  , ''                               trackout_cet_ts\n  , -1                               loh_key\n  , -1                               num_records\n  from\n    mfg_icn8_data.dual\n  where\n    '${include_e3_bq_yn}' in ('', 'Y')\nunion all\n  select\n    'nifi_base_qualifications (E3_UVA)'  table_name\n  , nbq.loh_trackout_cet_ts              trackout_cet_ts\n  , nbq.loh_key                          loh_key\n  , count ( distinct\n            nvl (nbq.lot        , '')\n          , nvl (nbq.meas_cet_ts, '')\n          , nvl (nbq.program    , '')\n          , nvl (nbq.parameter  , '')\n          , nvl (nbq.event      , '')\n          )                              num_records\n  from\n    mfg_icn8_apps.nifi_base_qualifications  nbq\n  where\n        nbq.p_parameter_type        = 'E3_UVA'\n    and nbq.p_aggregation_type     in ('lot', 'waf', 'site')\n    and nbq.p_from_trackout_cet_ts  < '${end_ts}'\n    and nbq.p_to_trackout_cet_ts    > '${start_ts}'\n    and nbq.loh_trackout_cet_ts    >= '${start_ts}'\n    and nbq.loh_trackout_cet_ts     < '${end_ts}'\n  group by\n    nbq.loh_trackout_cet_ts\n  , nbq.loh_key\n  , nbq.p_parameter_type\nunion all\n  select\n    concat ('nifi_base_qualifications ('\n           , p_parameter_type\n           , ')'\n           )                              table_name\n  , nbq.loh_trackout_cet_ts               trackout_cet_ts\n  , nbq.loh_key                           loh_key\n  , count (*)                             num_records\n  from\n    mfg_icn8_apps.nifi_base_qualifications  nbq\n  where\n            (     nbq.p_parameter_type         in ('EDC', 'Overlay', 'PCM', 'TRACING_EQP', 'TRACING_COMP', 'DIAMOND_TIMES')\n              or  nbq.p_parameter_type       like 'OQ%'\n            )\n    and           nbq.p_aggregation_type       in ('lot', 'waf', 'site')\n    and           nbq.p_from_trackout_cet_ts    < '${end_ts}'\n    and           nbq.p_to_trackout_cet_ts      > '${start_ts}'\n    and           nbq.loh_trackout_cet_ts      >= '${start_ts}'\n    and           nbq.loh_trackout_cet_ts       < '${end_ts}'\n    and not (     p_parameter_type             in ('TRACING_COMP', 'DIAMOND_TIMES')\n              and nbq.loh_trackout_cet_ts       < '2020-04-01'\n            )\n    and not (     p_parameter_type              = 'TRACING_COMP'\n              and program                       = 'TRACING_COMP_TTN'\n            )  /* 2022-08-01 FvH: Don't count the component tracing records from Temptation, otherwise we cannot compare to BRS */\n  group by\n    concat ( 'nifi_base_qualifications ('\n           , p_parameter_type\n           , ')'\n           )\n  , nbq.loh_trackout_cet_ts\n  , nbq.loh_key\n  , nbq.p_parameter_type\norder by\n  table_name\n, trackout_cet_ts\n, loh_key\n;",
        "use_hive_yn": "Y"
      },
      "id": "",
      "name": "Determine query and filename",
      "data_manipulation_type": "unknown",
      "actual_data_processing": "LLM not available for analysis",
      "transforms_data_content": false,
      "business_purpose": "LLM analysis unavailable",
      "data_impact_level": "unknown",
      "key_operations": [
        "llm_unavailable"
      ],
      "analysis_method": "fallback_no_llm"
    }
  ],
  "total_processors": 58,
  "workflow_characteristics": {
    "classification_breakdown": {
      "data_transformation": 7,
      "data_movement": 2,
      "infrastructure_only": 44,
      "external_processing": 0,
      "unknown": 5
    },
    "impact_analysis": {
      "high": 7,
      "medium": 0,
      "low": 7,
      "none": 44
    }
  }
}
